# Assignment No-1

#### 1.Question

In [ ]:
# 1.Write a program to convert specified days into years,weeks and day.Take user input. Note:ignore leap year.

In [8]:

num = int(input("Enter the Number of Days"))

year = int(num/365)
week = int((num%365)/7)
days = int((num%365)%7)

print("Total Number of Year:",year)
print("Total Number of Week:",week)
print("Total Number of Day:",days)

Enter the Number of Days 385

Total Number of Year: 1
Total Number of Week: 2
Total Number of Day: 6

#### 2.Question

In [ ]:
 2.Write a Python program to input basiPython salary of an employee and
 calculate its Gross salary according to following:
 Basic Salary <= 10000 : HRA = 20%, DA = 80%
 Basic Salary <= 20000 : HRA = 30%, DA = 90%
 Basic Salary > 20000 : HRA = 35%, DA = 95%

In [6]:
basic=float(input('Enter the basic salary:'))
if basic <= 10000:
    da=basic*0.8
    hra=basic*0.2
elif basic <=20000:
    da=basic*0.9
    hra=basic*0.25
else:
    da=basic*0.95
    hra=basic*0.3
    gross=basic+da+hra
    
print('gross salary of employee is:',gross)

Enter the basic salary: 23000

gross salary of employee is: 51750.0

#### 3.Question

In [ ]:
3. Write a Python program to input electricity unit charges and calculate total
electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill

In [5]:
units = int(input("enter the number of unit"))
if units <= 50:
    total_bill = (50 * 0.50)
elif units <= 150:
    total_bill = (50 * 0.50) + (units - 50) * 0.75
elif units <= 250:
    total_bill = (50 * 0.50) + (100 * 0.75) + (units - 150) * 1.25
else:
    total_bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.25) + (units - 250) * 1.50

surcharge = total_bill * 0.17
total_bill = total_bill + surcharge
print("total bill after adding surcharge = ",total_bill)

enter the number of unit 120

total bill after adding surcharge =  90.675

#### 4.Question

In [ ]:
4. Write a Python program to print the given number patterns.
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [7]:
num=int(input('enter no of rows:'))
for i in range(1,5+1):
    print()
    for j in range(i):
        print(i,end=' ')

enter no of rows: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

#### 5.Question

In [ ]:
5.Write a Python program to calculate product of digits of a number. Read
value of n from user.

In [4]:

num = int(input("Enter the number"))
mul = 1
while num > 0:
    rem = num % 10
    mul = mul * rem
    num = num // 10
else:
    print(mul)

Enter the number 123

6

#### 6.Question

In [ ]:
6. Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and
oerform following.

In [19]:
x = [45, 67, 12, 'Hello', 23.45, 'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [20]:
# 1. Extract only string values from this list.
x1 = []
for n in x:
    if type(n) == str:
        x1.append(n)
print(x1)

['Hello', 'World']

In [21]:
 # 2. Create a new list with strings in upper case
x2 = []
for n in x:
    if type(n) == str:
        x2.append(n.upper())
print(x2)

['HELLO', 'WORLD']

In [22]:
# 3.Find the addition of integer values
sum = 0
for n in x:
    if type(n) == int:
        sum = sum + n
print(sum)

124

In [ ]:
4. Check that the value 56 is present in it or not.

In [23]:
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [24]:
56 in x

False

In [ ]:
5. Print the list in reverse order.

In [25]:
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [7]:
x.reverse()
x

['World', 23.45, 'Hello', 12, 67, 45]

In [ ]:
# 6. Delete the string ‘Hello’ from it.

In [9]:
x

['World', 23.45, 'Hello', 12, 67, 45]

In [10]:
del x[2]
x

['World', 23.45, 12, 67, 45]

In [35]:
#7. Insert a new value of 36 at 5th position in list.
x.insert(5,36)
x

[45, 67, 12, 'Hello', 23.45, 36]

In [28]:
#8. Count total number of elements in list now.

In [12]:
x

['World', 23.45, 'Hello', 12, 67, 36, 45]

In [36]:
len(x)

6

In [38]:
# 9. Extract the values from 2nd index to 5th index.
print(x[2],x[5])

12 36

In [39]:
# 10. Append [34, ‘Pune’] to this list.
x.append(34)
x.append("Pune")
print(x)

[45, 67, 12, 'Hello', 23.45, 36, 34, 'Pune']

In [40]:
#11. Delete the last element from list.
del x[-1]
print(x)

[45, 67, 12, 'Hello', 23.45, 36, 34]

#### 7.Question

In [ ]:
7. Create a tuple of elements with 5 float values in it and perform following
operations.

In [13]:
t=(12,23,100,90,45,50,10,67)
t

(12, 23, 100, 90, 45, 50, 10, 67)

In [37]:
#1. Print the data in sorted manner.
sorted(t)

[10, 12, 23, 45, 50, 67, 90, 100]

In [38]:
#2. Check to see that the element 50 is present in it.
50 in t

True

In [42]:
#3. Convert this tuple in set.
print(set(t))

{67, 100, 10, 12, 45, 50, 23, 90}

#### 8.Question

In [ ]:
8. Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:
‘king’} and
perform following operations.

In [2]:
d={'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k':
'king'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [3]:
#1. Access the data at key ‘k’.
d['k']

'king'

In [4]:
#2. Add a new values ‘z’: ‘zebra’
d['z']='zebra'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [6]:
#3. Replace the contents of ‘d’ as ‘dog’
d['d'] = "dog"
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [7]:
#4. Print all the values from this dictionary.
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [8]:
#5. Find the length of this dictionary.
len(d)

6

#### 9.Question

In [9]:
#9.Write a program to find the second largest element in a list
List1 = [12,45,24,68,53,67,98,76]
List2 = sorted(List1, reverse = True)
print(List2)
second_largest = List2[1]
print("Second largest number is ",second_largest)

[98, 76, 68, 67, 53, 45, 24, 12]
Second largest number is  76

#### 10.Question

In [10]:
'''10.This is a list of some metallic elements.
metals = [ 'silver','gold', ... ]
Make a new list that is almost identical to the metals list: the new
contains the same items, in the same order, except that it does NOT
contain the item 'copper'.
    '''
metals = ["silver","gold","platinum","copper","lead","iron","aluminium"]
metals1 = []
for n in metals:
    if n != "copper":
        metals1.append(n)

print(metals1)

['silver', 'gold', 'platinum', 'lead', 'iron', 'aluminium']