# 3rd day...5 june

### python loops
# While loop....!

In [1]:
count= 1

while count <= 5:
    print('pallu')
    count= count +1

pallu
pallu
pallu
pallu
pallu

### print no from 5 to 15

In [2]:
count=5

while count <= 15:
    print(count,'\n')
    count= count+1

5

6

7

8

9

10

11

12

13

14

15

In [3]:
print(count)

16

### print the addition of no from 1 to 10

In [4]:
count=1
add= 0
while(count<=10):
  add= add+count
  count=count+1
print('addition is',add)

addition is 55

### print the addition of all odd no from 1 to 20

In [5]:
count=1
add= 0
while(count<=20):
  add= add+count
  count=count+2
print('addition is',add)

addition is 100

### factorail =>5...5*4*3*2*1 =120

In [6]:

num = 1
fact = 1
while(num<=5):
  fact=fact*num
  num=num+1
print('fcatorial is:',fact)

fcatorial is: 120

In [7]:
# same program of factorial

In [8]:
num=int(input('enter the number'))
fact=1
while num > 1:
    fact=fact*num
    num=num-1
print('factorail is:',fact)

enter the number 5

factorail is: 120

# infinite loop

In [9]:
'''num =2
while num>1:
    print(num)
    num=num+1'''

'num =2\nwhile num>1:\n    print(num)\n    num=num+1'

### find the sum of didgit in a number??????12345 => 1+2+3+4+5=15

In [10]:
num=int(input('enter the number'))
add=0

while num > 0:
    rem = num % 10  # 5
    add=add+rem
    num = num//10    #1234
print('addition of digits is:',add)

enter the number 12345

addition of digits is: 15

# For loop.....!

In [11]:
for n in 10,20,30,40,50,'pallu':   # n is a variable
 print(n)

10
20
30
40
50
pallu

In [12]:
for n in 12,23,24,25,20:
    
    print(n/2)

6.0
11.5
12.0
12.5
10.0

# range function

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [15]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

# range(start,end+1,step)

In [16]:
for n in range(1,11):
 print(n)

1
2
3
4
5
6
7
8
9
10

### addition of odd number from 1 to 20

In [17]:
add = 0
for n in range(1,21,2):
     add= add + n
print('addition',add)

addition 100

### print your name 10 times

In [18]:
for n in range(10):
  print('pallu')

pallu
pallu
pallu
pallu
pallu
pallu
pallu
pallu
pallu
pallu

In [19]:
for n in 'Pallu':
    print(n)

P
a
l
l
u

In [20]:
for n in 'pallu','vaishu':
    print(n)

pallu
vaishu

In [21]:
for n in 'pallu','vaishu':
    print(n*3)

pallupallupallu
vaishuvaishuvaishu

In [22]:
l= [23,12,54,53]
for n in l:
    print(n)
else:
    print('loop ended')

23
12
54
53
loop ended

### find factorial of a number........take user input

In [23]:
num=int(input('enter the number'))
fact=1
for num in range(1,num+1):
 fact=fact*num
print('factorial is:',fact)

enter the number 5

factorial is: 120

# Break statement

In [24]:
for n in range(1,10):
    if n==5:
      break
    print(n)

1
2
3
4

In [43]:
for i in range(1,13):
    if i % 2 == 0:
        continue
        print(i)

In [44]:
num = 5
if num > 1:
    pass

In [28]:
'''
*
**
***
''';

In [42]:
row=3

for i in range(1,row+1):
    for j in range(i):
         print('*',end=' ')
    print()

*
* *
* * *