# 12 June

## Object Oriented Programming in Python

In [3]:
class Employee():   # creating the class
    pass

In [4]:
emp1 = Employee()  # creating an instance of a class
emp2 = Employee()

In [5]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000002191992DC50>
<__main__.Employee object at 0x000002191997C990>

#### Instance variable

In [6]:
emp1.first = 'Pallu'
emp1.last = 'Kharat'
emp1.salary = 60000

emp2.first = 'Vaishu'
emp2.last = 'Patil'
emp2.salary = 70000

In [7]:
print(emp1.first)

Pallu

In [8]:
print(emp2.last)

Patil

In [42]:
class Employee():

    def __init__(self, first, last, salary):   # init method
        self.first = first
        self.last = last
        self.__salary = salary     # private variable

    def show(self):
        print(self.__salary)

In [34]:
emp1 = Employee('harsh', 'kharat',80000)

In [35]:
print(emp1.first)

harsh

In [36]:
emp2 = Employee('sanu', 'sharma',40000)

In [37]:
emp1.show()

harsh

In [38]:
emp2.show()

sanu

## Encapsulation

In [15]:
emp1 = Employee('harsh', 'kharat',80000)
emp2 = Employee('sanu', 'sharma',40000)

In [21]:
print(emp1.first)

harsh

In [22]:
print(emp1.salary) # we getting erroe because salary is private

AttributeError: 'Employee' object has no attribute 'salary'

In [31]:
emp1.show()

80000

## Inheritance

In [39]:
class Emp2(Employee):   # Emp2 => subclass, # Employeee => superclass
    pass

In [40]:
emp3 = Emp2('neha', 'mane',20000)

In [43]:
emp3.show()

neha

In [58]:
''' Create a class called person 
attributes => name,age,city....(make use of default parameters also)
craete a method which will show all the info of a person'''




class person():
        def __init__(self, name, age, city=):   # init method
            self.name=name
            self.age=age
            self.city=city
        def show(self):
            print('name',self.name) 
            print('age',self.age)
            print('city',self.city)

In [59]:
p1=person('pallavi',19,'pune')

In [60]:
p2=person('vaishnavi',21,'pandharpur')

In [64]:
p1.show()

name pallavi
age 19
city pune

In [65]:
p2.show()

name vaishnavi
age 21
city pandharpur